<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Handcraf-Marketplace.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D9B7434A2555189F000787DC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D9B74360255518A1000787DC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D9B7436B255518A1000787DC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
